#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	python3 -m installer --destdir=debian/lgtv-remote --prefix=/usr dist/*.whl
	if [ -d debian/lgtv-remote/usr/local/bin ]; then \
		mkdir -p debian/lgtv-remote/usr/bin; \
		mv debian/lgtv-remote/usr/local/bin/* debian/lgtv-remote/usr/bin/; \
		rm -rf debian/lgtv-remote/usr/local; \
	fi
	install -Dm644 lgtv-remote.desktop \
		debian/lgtv-remote/usr/share/applications/lgtv-remote.desktop
	install -Dm644 icons/lgtv-remote.svg \
		debian/lgtv-remote/usr/share/icons/hicolor/scalable/apps/lgtv-remote.svg

override_dh_auto_build:
	python3 -m build --wheel --no-isolation
